<ng-container *ngIf="steps">
  <ol class="steps"
      [ngClass]="[orientation, color]"
      [ngStyle]="{'--step': currentStep}">
    <ng-container *ngFor="let step of steps; let index = index; let last = last">
      <li class="step"
          [ngClass]="{'isActive': currentStep === index, 'prev': index < currentStep, 'last': last}"
          (click)="changeStep(index)">
        <span class="step-label">{{ step.label }}</span>

        <div class="step-current">
          <svg class="step-current__tick" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9535 1.58333L4.62014 8.91666L1.2868 5.58333" stroke-width="1.2"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="step-current__number">{{ index + 1 }}</span>
        </div>
      </li>
    </ng-container>
  </ol>
</ng-container>
