
.stepper-holder {
  background: var(--dark);
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  max-width: 100%;
  overflow-x: auto;
  @media screen and (min-width:768px ) {
    margin: 100px;
    padding: 100px 40px 50px 40px;
    border-radius: 40px;
  }
}

.theme-custom{
    --labelColor:red;
    --labelColorActive: green;
    --activeColor:yellow;
    --stepNumberColor:violet;
    --stepNumberColorActive: blue;
    --background: skyblue;
    --borerColor: orange;
}

form{
  display: flex;
  flex-direction: column;
  fieldset{
    margin-bottom: 10px;
    border-radius: 5px;
  }
  label{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 5px;
  }
}
